Tuples introduction

In [ ]:
#Tuple '()' is orederd type dataset but NOT MUTAABLE(not changeble) using indexing for accessing data 
x= ('glen','sally','joseph')
print(x)
y=(1,2,3,9,8,17)
#y[2]=15  tuplle is immutable !!! like string
print(y)
print(y[4])
print(max(y))
print(min(y))

#if you want to iterate whole tuples using for loop
for iter in x:
  print(iter)
 
#tuple and its assignment => tuple can put on left hand side of statement
#parenthesis can also be omitted
 
(x,y)=(4,'jan')
print(y)

('glen', 'sally', 'joseph')
(1, 2, 3, 9, 8, 17)
8
17
1
glen
sally
joseph
jan

Tuples and Dictionaris

In [ ]:
#The item() method in dictionaries return list of (key ,value) is => tuple.

d=dict()
d['csev']=2
d['cwen']=4
for (k,v) in d.items():
  print(k,v)

#it will print in tuple
tups=d.items()
print(tups)

# Tuple are comparable
#compare all the element and return the value TRUE/ FALSE
print((0,1,2) < (5,1,2))

csev 2
cwen 4
dict_items([('csev', 2), ('cwen', 4)])
True

Sorting of Tuple

In [ ]:
# First we sort the dictionary by the using the items() method and sorted() function

d={'a':10,'b':20,'c':30}
print(d.items())         #1st d.items()
print(sorted(d.items())) #sorted method , actualy sorting is done keywise

# we can directly use sorted function
t=sorted(d.items())
print(t)

#to print all the values using for loop
for k,v in sorted(d.items()):
  print(k,v)

dict_items([('a', 10), ('b', 20), ('c', 30)])
[('a', 10), ('b', 20), ('c', 30)]
[('a', 10), ('b', 20), ('c', 30)]
a 10
b 20
c 30

Sort by Values not Keys

In [ ]:
# if we construct a list of tuple in the form(value ,key) then for loop
c={'a':10,'b':20,'c':30}
tmp=list()
for k,v in c.items():
  tmp.append((v,k)) #this convert in reverse order
print(tmp) 
tmp=sorted(tmp,reverse=True)
print(tmp)

#the shorter version
print(sorted([(v,k) for k,v in c.items()]))

[(10, 'a'), (20, 'b'), (30, 'c')]
[(30, 'c'), (20, 'b'), (10, 'a')]
[(10, 'a'), (20, 'b'), (30, 'c')]

Sets Operations

In [ ]:
# Unordered colllection of data , iterable , mutable(changable) , No duplicates

# way1 
course={"python","machine learning","data structure"}
print(course) 

#way 2 using set function
course=set([1,5,9,6,8,9,5,(1,8,9),"hello"]) #duplicate not allowed
print(course)

# sets can not contain 'list' or 'dictionary' but we can form sets from list
my_set=set([1,2,3])
print(my_set)

#set vs dict identification
jet={}
print(type(jet))

typ=set()
print(type(typ))

{'machine learning', 'data structure', 'python'}
{1, 5, 6, 8, 9, 'hello', (1, 8, 9)}
{1, 2, 3}
<class 'dict'>
<class 'set'>

Set Other Operations

In [ ]:
a={1,2,3,4,5,6}
b={5,6,7,8,9,10}
set3=a.union(b)  # UNION  add both
print(set3)

print(a|b)                 # UNION same ansewr for b|a

print(a&b)                 # INTERSECTION  COMMON in both

print(a-b)                 # DIFFERENCE ONLY IN A
print(b-a)                 # ONLY IN B

print(a^b)
print(b^a)                 # SYMMETRIC DIFFERENCE  common element deleted

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5, 6}
{1, 2, 3, 4}
{8, 9, 10, 7}
{1, 2, 3, 4, 7, 8, 9, 10}
{1, 2, 3, 4, 7, 8, 9, 10}

Sets Function

In [ ]:
# Set membership test
a={1,2,3,4,5,6,7,15,25}
print(1 in a)           #true
print(12 in a)          #false
print(12 not in a)      #true

# sets iteration i.e loop through sets
for s in a:
  print(s)

print(len(a)) # 9 

# PYTHON FROZENSET => Same as set but element once assigned will not change
#tuple=> Immutable
#frozen set => immutable
free= frozenset([1,2,5,78,6,22])
#free.add(6)  this will show error as frozen set are immutable

True
False
True
1
2
3
4
5
6
7
15
25
9